// screens variables
$screens-sm: 640;
$screens-md: 768;
$screens-lg: 1024;
$screens-xl: 1280;
$screens-2xl: 1540;

// mediaQueries variables
$mediaQueries-sm: "min-width: #{$screens-sm}px";
$mediaQueries-md: "min-width: #{$screens-md}px";
$mediaQueries-lg: "min-width: #{$screens-lg}px";
$mediaQueries-xl: "min-width: #{$screens-xl}px";
$mediaQueries-2xl: "min-width: #{$screens-2xl}px";

// colors variables
$colors-primary-green: #414B0E;
$colors-primary-green-dark: #123C38;
$colors-primary-green-light: #8EA499;
$colors-primary-green-test: blue;
$colors-primary-yellow: #FCB31E;
$colors-primary-yellow-dark: #CB6F18;
$colors-secondary-blue: #EBDECC;
$colors-secondary-blue-dark: #EBDECC;
$colors-semantic-success: green;
$colors-semantic-warning: green;
$colors-semantic-error: green;
$colors-semantic-info: green;
$colors-neutrals-50: #FAFAF9;
$colors-neutrals-100: #F5F5F4;
$colors-neutrals-200: #E7E5E4;
$colors-neutrals-300: #D6D3D1;
$colors-neutrals-400: #A8A29E;
$colors-neutrals-500: #78716C;
$colors-neutrals-600: #57534E;
$colors-neutrals-700: #44403C;
$colors-neutrals-800: #292524;
$colors-neutrals-900: #1C1917;
$colors-neutrals-950: #0C0A09;
$colors-neutrals-bone: #EBDECC;
$colors-neutrals-isabelline: #F9F6F0;
$colors-ui-border: $colors-neutrals-300;
$colors-ui-border-dark: $colors-neutrals-400;
$colors-ui-link: $colors-secondary-blue;
$colors-ui-link-hover: $colors-secondary-blue-darken;
$colors-ui-button: $colors-secondary-blue;
$colors-ui-button-hover: $colors-secondary-blue-darken;

// fontFamily variables
$fontFamily-quicksand: var(--font-quicksand);

// fontSize variables
$fontSize-3xs: 10;
$fontSize-2xs: 12;
$fontSize-xs: 14;
$fontSize-base: 16;
$fontSize-sm: 16;
$fontSize-md: 18;
$fontSize-lg: 20;
$fontSize-xl: 24;
$fontSize-2xl: 32;
$fontSize-3xl: 36;
$fontSize-4xl: 48;
$fontSize-5xl: 64;
$fontSize-6xl: 72;
$fontSize-7xl: 96;
$fontSize-8xl: 128;

// borderRadius variables
$borderRadius-xs: 2px;
$borderRadius-sm: 4px;
$borderRadius-md: 8px;
$borderRadius-lg: 12px;
$borderRadius-2lg: 24px;
$borderRadius-full: 99999px;

// boxShadow variables
$boxShadow-md: 0 0 32px 0px rgba(0, 0, 0, 0.1);;
$boxShadow-lg: 0 4px 48px rgba(0, 0, 0, 0.05);

