:root {
--color-primary: yellow;
--color-secondary: blue;
--color-tertiary: green;
--fontFamily-default: arial;
--fontSize-small: 16;
--fontSize-medium: 24;
--fontSize-large: 32;
--lineHeight-small: 1;
--lineHeight-medium: 1.2;
--lineHeight-large: 1.4;
--font-small: var(--fontFamily-default) var(--fontSize-small) / var(--lineHeight-small);
--font-medium: var(--fontFamily-default) var(--fontSize-medium) / var(--lineHeight-medium);
--font-large: var(--fontFamily-default) var(--fontSize-large) / var(--lineHeight-large);

@media((min-width: 767px)) {
--fontSize-small: 24;
--fontSize-medium: 32;
--fontSize-large: 48;
--lineHeight-small: 1.2;
--lineHeight-medium: 1.4;
--lineHeight-large: 1.6;
}
}
